
<%= turbo_frame_tag(surveyors_guild) do %>
  <div class="grid grid-cols-1 gap-2 divide-y">
    <%= render surveyors_guild.star_systems %>
  </div>

  <%= render CardComponent.new do %>
    <%= turbo_frame_tag(surveyors_guild.star_systems.new) do %>
      <%= link_to("Request Star System",
          surveyors_guild.location(:new, child: :star_system)) %>
    <%- end %>
  <%- end %>
<%- end %>
