<div class="w-80 mx-auto">
  <%= render CardComponent.new do |card| %>
    <%- card.with_header do %>
      <h3>Level 1 Surveyor</h3>
    <%- end %>

    <dl class="grid grid-cols-4 gap-x-6">
      <dt class="text-right">Name: </dt>
      <dd class="col-span-3"><%= surveyor.name %></dd>
      <dt class="text-right">Id: </dt>
      <dd class="col-span-3"><%= surveyor.id %></dd>
    </dl>
  <%- end %>
</div>

<h3>Surveys Seeking Crew</h3>
<%- surveyors_guild.surveys_seeking_crew.includes(:star_system).each do |survey| %>
  <%= render CardComponent.new do |card| %>
    <%- card.with_header do %>
      <h4><%= survey.id%></h4>
    <%- end %>
      <p>Traveling to <%= survey.star_system.name %></p>

    <%- card.with_footer(variant: :action_bar) do %>
      <a
        class="button w-full"
        href="<%= href_to(survey, action: :new, child: :crewmate) %>">
        Inquire
      </a>


    <%- end %>
  <%- end %>
<%- end %>
