<%- breadcrumb :slipvector_survey, survey %>
<%= render CardComponent.new do |card| %>
  <%- card.with_header do %>
    <h2><%= survey.id %></h2>
    <p class="text-sm">Surveying <%= survey.star_system.name %></p>
  <%- end %>

  <%- if !survey.preparing? %>

    <p>Gathered...
    <ul>
    <%- survey.results.each do |result| %>
      <li><%= result.xp %> <%= result.label %></li>
    <%- end %>
    </ul>
  <%- end %>

  <%- card.with_footer(variant: :action_bar) do %>
    <%- if survey.active? %>
      <%= button_to("Complete Survey", survey.location, form_class: "w-full", class: "w-full --primary", params: { survey: { status: :complete } })%>
    <%- elsif survey.preparing? %>
      <%= link_to("Mmmm, one sec...", surveyors_guild.location, class: "button w-1/2") %>
      <%= button_to("Embark", survey.location, form_class: "w-1/2", class: "w-full --primary", params: { survey: { status: :active } })%>
    <%- end %>
  <%- end %>
<%- end %>
