<%= turbo_frame_tag(roll) do %>
  <div class="p2-3">
    <div><%= roll.turn %>.</div>

    <%= render "slipvector/surveyors_guild/star_system/survey/rolls/dice_score", class: "text-green-700", roll: roll, dice: roll.biological_dice, header: "BioData" %>
    <%= render "slipvector/surveyors_guild/star_system/survey/rolls/dice_score", class: "text-slate-700", roll: roll, dice: roll.material_dice, header: "MatData" %>
    <%= render "slipvector/surveyors_guild/star_system/survey/rolls/dice_score", class: "text-yellow-700", roll: roll, dice: roll.energy_dice, header: "NrgData" %>

    <div class="text-2xl p-5 text-center">
      <span class="text-lg"><%=roll.dice_score%> * <%= roll.bonus %> = </span><br />
      <%= roll.total_score %>
    </div>

    <div class="text-xs text-center">
      <%= roll.efficiency %>
    </div>
  </div>
<%- end %>
